#div1 {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  border: 1px solid black;
}
canvas,#start_screen{
  width: 100%;
  height: 100%;
  max-height: 100vh;
  position: absolute;
  cursor: url('ui_images/cursor4.png'),pointer;
  -webkit-tap-highlight-color: transparent;
}
#start_screen{
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  z-index: 5;
}
canvas {
  border: 1px solid black;
}
.chara_style{
  width: 128px;
  height: 48px;
  position: absolute;
  top: 110px;
  left:10px;
}
.style_controls{
  position: absolute;
  top: 170px;
  left:10px;
}
.player_select{
  width: 32px;
  height: 48px;
  overflow: hidden;
  float:left;
}
#text{
  position: absolute;
  bottom: 10px;
  left:10px;
}
.chat_history{
  position: absolute;
  overflow: auto;
  height: 120px;
  bottom: 40px;
  background-color: rgba(159,159,159,0.7)
}
.float1{
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: 145px;
  left:180px;
}
.float2{
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: 45px;
  left:180px;
}
.chat_hidden{
  position: absolute;
  overflow: hidden;
  height: 20px;
  bottom: 40px;
  background-color: rgba(159,159,159,0.7)
}
#action_bar{
  position: absolute;
  height: 184px;
  width: 40px;
  bottom: 10px;
  right: 10px;
  background-color: rgba(159,159,159,0.5)
}
.action{
  width: 32px;
  height: 32px;
  margin-bottom:4px;
  overflow:hidden;
  padding:0px;
  background-color: rgba(159,159,159,0.7)
}
#cordenadas{
  position: absolute;
  top: 10px;
  left:10px;
}
#send_msj{
  position: absolute;
  bottom: 10px;
  left: 220px;
}
.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  top: 270px;
  left:10px;
}
.modal-main {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 6; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content2 {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 400px;
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.modal-header {
  padding: 2px 16px;
  background-color: #c79e42;
  color: white;
}
.modal-body {
    padding: 5px;
    height: 100%;
}
